


body {
	font: 16px/1.5em Lato, sans-serif;
	padding: 20px;
}
.pull-left {
	margin: 0 20px 0 0;
	width: 80px;
}
.pull-right {
	margin: 0 0 0 20px;
	width: 80px;
}
.progress {
	position: relative;
}
.center-bar {
	border-left: 1px dashed #ffd33d;
	height: 100%;
	left: 50%;
	position: absolute;
}

dl {
		font-size: 20px;
		text-align: center;
	}

h1  {
	text-align: center;
	margin-left: 20%;
	margin-right: 40%;
	color: black;
	background: rgb(148, 207, 209);
	width: 60%;
	}
	


h5 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
		}

.btn-primary {
	text-align: center;
}

.btn {
		margin-left: 25%;
		margin-right: 40%; 
		margin-top: 30px;
		margin-bottom: 30px;
		position:relative;
		width: 50%;
		background: greenyellow;
		color: black;
		padding: 10px 13px;
		font-size: 20px;
	}

.radio {
	color: rgb(12, 82, 23);
}

.ad-banner {
	width: 320px;
	margin: 0 auto;
	text-align: center;
}

.footer {
	text-align: center;
	margin: 0 auto;
}
